.button {
  background-color: var(--color-black);
  color: var(--color-green);
  font-family: 'Poppins', sans-serif;
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;
  position:static;
}
  